<link rel="stylesheet" href="/css/gifs.css" />
@model List<Gif>
@{
    string successMsg = ViewData["Success"] as string;
}
@if(ViewData["Success"] != null)
{
    <h4>@successMsg</h4>
}


<div class="bs-container">
    <ul class="ul-gif">
        @foreach(var e in Model)
        {
            <div class="li-gif">
            <li class="gif-title"><a href="/gif/@e.Id/edit">@e.Name</a><span class="gif-rating">@e.Rating/5</span></li>
                <li><img class="gifs" src="@e.Url" /></li>
            </div>
        }
    </ul>
</div>

