<h2 style="text-align: center;">Add a gif!</h2>


<div class="gif-form col-md-6 offset-lg-3 align-middle" style="">
    <form action="/CreateGif" method="post">

        <div class="form-group">
            <label for="Name">Title: </label>
            <input class="form-control" type="text" id="Name" name="Name" />
        </div>

        <div class="form-group">
            <label for="url">URL: </label>
            <input class="form-control" type="image" id="url" name="Url" />
        </div>

        <div class="form-group">
            <label for="rating">Rating: </label>
            <input class="form-control" type="number" id="rating" name="Rating" />
        </div>
        <br />
        <button type="submit" class="btn btn-lg btn-primary col-md-6 offset-lg-3 align-middle" fdprocessedid="k0n2h">Add Gif</button>



    </form>
</div>