<h2 style="text-align: center;">Add a gif!</h2>

<div class="gif-form">
<form action="/CreateGif" method="post">

    <div class="form-group">
        <label for="Name">Title: </label>
            <input type="text" id="Name" name="Name" />
    </div>

    <div class="form-group">
        <label for="url">URL: </label>
        <input type="text" id="url" name="Url" />
    </div>

    <div class="form-group">
        <label for="rating">Rating: </label>
        <input type="number" id="rating" name="Rating" />
    </div>

    <button type="submit">Add Gif</button>
</form>
</div>